DirectoryIndex index.html

<IfModule mod_mime.c>
  AddType text/html .html
  AddType text/css .css
  AddType application/javascript .js
  AddType image/jpeg .jpg .jpeg
  AddType image/png .png
  AddType image/svg+xml .svg
  AddType font/otf .otf
</IfModule>

<IfModule mod_headers.c>
  <FilesMatch "\.(js|css|html)$">
    Header set Cache-Control "public, max-age=3600"
  </FilesMatch>
</IfModule>

AddDefaultCharset utf-8

Options -Indexes
